@font-face {
    font-family: Roboto;
    src: url("./fonts/Roboto-Regular.woff2") format("woff2"),
        url("./fonts/Roboto-Regular.woff") format("woff");
}

p,
h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto";
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.sidebar {
    grid-column: 1/2;
    grid-row: 1/6;
    display: flex;
    flex-direction: column;
    gap: 5em;
    background-color: #1992d4;
    color: white;
    padding: 1em;
}

.sidebar ul {
    padding-left: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.header {
    grid-column: 2/6;
    grid-row: 1/2;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    padding: 0.5em 2em 0 2em;
    box-shadow: 0 6px 12px -8px rgba(0, 0, 0, 0.35);
    position: relative;
}

.sidebar .title>img {
    width: 4em;
    height: 4em;
    margin: 1em;
    filter: invert(1) brightness(2);
}

.sidebar li img {
    width: 2em;
    height: 2em;
    margin-right: 1em;
    vertical-align: middle;
    filter: invert(1) brightness(2);
}

.sidebar .title {
    display: flex;
    align-items: center;
}

.search-bar {
    grid-row: 1/2;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 0.5em;
}

.actions {
    grid-row: 2/4;
    display: flex;
    justify-content: space-between;
}

.search {
    grid-column: 1/4;
}

.search>img {
    width: 2em;
    height: 2em;
    vertical-align: middle;
}

.icons {
    grid-column: 4/6;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2em;
    font-weight: bold;
}

.icons img {
    width: 1.5em;
    height: 1.5em;
    margin-left: 1em;
    vertical-align: middle;
}

.icons img[alt="polar bear"] {
    width: 3em;
    height: 3em;
    margin-left: 1em;
    vertical-align: middle;
}

.actions img {
    width: 5em;
    height: 5em;
    vertical-align: middle;
    margin: 1em;
}

input {
    background-color: #e0e6ee;
    border: none;
    border-radius: 1em;
    padding: 0.5em 1em;
    width: 80%;
    font-size: 1em;
}

.buttons {
    display: flex;
    margin-top: 2.5em;
    gap: 1em;
}

.buttons button {
    height: 3em;
    width: 8em;
    border: none;
    border-radius: 1.5em;
    background-color: #1992d4;
    color: white;
    cursor: pointer;
    font-size: 1em;
}

.buttons button:hover {
    background-color: #0d628f;
}

.buttons button:active {
    transform: scale(1.1);
}

.greet {
    display: flex;
    font-weight: bold;
}

.greet span {
    font-size: 1.5em;
}

.greet p {
    margin-top: 2em;
}

.main-body {
    grid-column: 2/6;
    grid-row: 2/6;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #e0e6ee;
    padding: 1em 2em 3em 2em;
}

.projects {
    grid-column: 1/3;
}

.right-info {
    padding-left: 2em;
    grid-column: 3/4;
}

.right-info ul {
    background-color: white;
    padding: 2em;
    margin: 1em 0;
    border-radius: 0.5em;
    box-shadow: 2px 6px 12px -8px rgba(0, 0, 0, 0.35);
    font-size: 0.8em;
}

.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1em;
    padding-top: 1em;
}

.card {
    box-sizing: border-box;
    background-color: white;
    padding: 1em;
    border-radius: 0.5em;
    border-left: 0.5em #ffdf01 solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 2px 6px 12px -8px rgba(0, 0, 0, 0.35);
    position: relative;
    min-height: 13em;
}
.card-icons {
    display: flex;
    align-items: center;
    gap: 0.5em;
    justify-content: flex-end;
}

.card-icons img {
    width: 1.5em;
}
.content{
    display: grid;
    gap:0.5em;
}
.trending{
    margin-top: 2em;
    display: grid;
    gap: 1em;
}
.person{
    display: flex;
    align-items: center;
    gap: 1em;
}
.people{
    padding: 1.5em;
    background-color: white;
    border-radius: 0.5em;
    box-shadow: 2px 6px 12px -8px rgba(0, 0, 0, 0.35);
    display: grid;
    gap: 1.5em;
}
.person span{
    font-weight: 600;
}
.person img{
    width: 3em;
}
